a:visited, a:link, a:active
{
    text-decoration: none;
}

a {
  color: #ffffff;
}

nav a:hover {
  /* color: #F3E886; */
  color: #881C2B;
}

nav {
  text-decoration: none;
}

body {
  font-family: 'Abel', sans-serif;
}

#masterhead {
  text-align: center;
    color: #ffffff;
    background: #000000;
    height: 85px;
    width: 100%;
    position: absolute;
    animation: slideInDown 1.5s linear;
    position: fixed;
    z-index: 1;
    border-bottom: solid 3px #881C2B;
    font-size: 28px;
}

#menu1 {
  margin-left: 3%;
  margin-top: .2%;
  float: left;
}

#menu2 {
  margin-right: 3%;
  margin-top: 1.45%;
  float: right;
}

.menuitem {
  margin-right: 20px;
}

#porlogo {
  margin-right: 10px;
  height: 75px;
  width: 55px;
}

#homecont {
  background-image: url("../images/carfield.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 20%;
    padding-bottom: 20%;
    border-bottom: solid 3px #881C2B;
}

#viewcont {
  background: #000000;
  color: #ffffff;
  height: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

#viewinventorybtn {
  color: #ffffff;
  border: solid #ffffff 2px;
  padding: 10px;
  font-size: 50px;
  border-radius: 10px;
  text-align: center;
}

#viewinventorybtn:hover {
  color: #881C2B;
  background: #ffffff;
}

#mainfoot {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
    background: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
    bottom: 0;
    font-size: 24px;
    border-top: solid #881C2B 3px;
}

#footerpara {
  text-align: left;
}

#picnphone {
  text-align: right;
}

#littletanner {
  height: 275px;
  width: 225px;
}

.footername {
  padding-bottom: .4%;
}

.footername:hover {
  color: #881C2B;
}

.thyline {
  border-bottom: solid 3px #881C2B;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
@keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* background-color: #2098D1; */
  /* background-color: #2098d1; */
  /* color: white; */
}
